@import "tailwindcss";

.slick-slide img {
    width: 100%;
    height: 400px;
    /* Điều chỉnh kích thước hình ảnh */
    object-fit: cover;
    border-radius: 10px;
    /* Tạo góc bo tròn */
}

.slick-dots {
    bottom: 10px !important;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.slick-dots li {
    border-radius: 50%;
    width: 10px !important;
    height: 10px !important;
    display: flex !important;
    border: 2px solid rgb(84, 84, 84);
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(84, 84, 84);
}

.slick-dots li button {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    display: flex !important;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    border: none;
    background-color: black;
}

.slick-dots li button::before {
    position: relative !important;
    color: black !important;
    font-size: 18px;
    border: none;
    visibility: hidden;
}

/* Hiệu ứng hover & active */
.slick-dots li:hover,
.slick-dots .slick-active {
    width: 20px;
    height: 20px;
    background-color: #DB4444;
    border: 2px solid white;
}